{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}



{{- /* Window Managers */ -}}
{{- $windowManagers_i3wm := false -}}



{{- /* Machine-specific settings */ -}}
{{- if eq .chezmoi.hostname "AxelLaptop01-archlinux" -}}
{{-   $windowManagers_i3wm = true -}}
{{- end -}}

{{- if eq .chezmoi.hostname "AxelLaptop02-archlinux" -}}
{{-   $windowManagers_i3wm = true -}}
{{- end -}}



{{- /* Interactive questions */ -}}
{{- if hasKey .windowManagers "i3wm" -}}
{{-   $windowManagers_i3wm = .windowManagers.i3wm -}}
{{- else if $interactive -}}
{{-   $windowManagers_i3wm = promptBool "Do you want to install i3wm" -}}
{{- end -}}



{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}



data:
  colors:
    nord0: "#2e3440"
    nord1: "#3b4252"
    nord2: "#434c5e"
    nord3: "#4c566a"
    nord4: "#d8dee9"
    nord5: "#e5e9f0"
    nord6: "#eceff4"
    nord7: "#8fbcbb"
    nord8: "#88c0d0"
    nord9: "#81a1c1"
    nord10: "#5e81ac"
    nord11: "#bf616a"
    nord12: "#d08770"
    nord13: "#ebcb8b"
    nord14: "#a3be8c"
    nord15: "#b48ead"
  windowManagers:
    i3wm: {{ $windowManagers_i3wm }}
  fonts:
    normal: "JetbrainsMono Nerd Font"

format: yaml

merge:
  command: nvim
  args:
    - -d
    - "{{ "{{ .Destination }}" }}"
    - "{{ "{{ .Source }}" }}"
    - "{{ "{{ .Target }}" }}"
// git:
//   autoAdd: true
