{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Template file for chezmoi config file */ -}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $i3wm := false -}}{{/* true if this machine is using i3wm */}}
{{- $swaywm := false -}}{{/* true if this machine is using swaywm */}}
{{- $hyprlandwm := false -}}{{/* true if this machine is using hyprlandwm */}}
{{- $agekey := false -}}{{/* true if this machine has agekey to decrypt secret */}}
{{- $emacs := false -}}{{/* true if this machine should have emacs installed */}}
{{- $lightdm := false -}}{{/* true if this machine should have lightdm installed */}}


{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "AxelLaptop01-archlinux" -}}
{{-   $headless = false -}}
{{-   $kubernetes = true -}}
{{-   $i3wm = true -}}
{{-   $swaywm = false -}}
{{-   $hyprlandwm = false -}}
{{-   $agekey = false -}}
{{-   $emacs = true -}}
{{- end -}}
{{- if eq $hostname "AxelLaptop02-archlinux" -}}
{{-   $headless = false -}}
{{-   $kubernetes = false -}}
{{-   $i3wm = true -}}
{{-   $swaywm = false -}}
{{-   $hyprlandwm = false -}}
{{-   $agekey = false -}}
{{-   $emacs = true -}}
{{- end -}}
{{- if hasKey . "headless" -}}
{{-   $headless = .headless -}}
{{- else if $interactive -}}
{{-   $headless = promptBool "headless" -}}
{{- end -}}
{{- if hasKey . "kubernetes" -}}
{{-   $kubernetes = .kubernetes -}}
{{- else if $interactive -}}
{{-   $kubernetes = promptBool "kubernetes" -}}
{{- end -}}
{{- if hasKey . "agekey" -}}
{{-   $agekey = .agekey -}}
{{- else if $interactive -}}
{{-   $agekey = promptBool "agekey" -}}
{{- end -}}
{{- if hasKey . "emacs" -}}
{{-   $emacs = .emacs -}}
{{- else if $interactive -}}
{{-   $emacs = promptBool "emacs" -}}
{{- end -}}
{{- if hasKey . "lightdm" -}}
{{-   $lightdm = .lightdm -}}
{{- else if $interactive -}}
{{-   $lightdm = promptBool "lightdm" -}}
{{- end -}}


{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

data:
  headless: {{ $headless }}
  kubernetes: {{ $kubernetes }}
  i3wm: {{ $i3wm }}
  swaywm: {{ $swaywm }}
  hyprlandwm: {{ $hyprlandwm }}
  agekey: {{ $agekey }}
  emacs: {{ $emacs }}
  lightdm: {{ $lightdm }}
  colors:
    background: "#282a36"
    current_line: "#44475a"
    foreground: "#f8f8f2"
    comment: "#6272a4"
    cyan: "#8be9fd"
    green: "#50fa7b"
    orange: "#ffb86c"
    pink: "#ff79c6"
    purple: "#bd93f9"
    red: "#ff5555"
    yellow: "#f1fa8c"
    selection: "#44475A"
    ansiBlack: "#21222C"
    ansiRed: "#FF5555"
    ansiGreen: "#50FA7B"
    ansiYellow: "#F1FA8C"
    ansiBlue: "#BD93F9"
    ansiMagenta: "#FF79C6"
    ansiCyan: "#8BE9FD"
    ansiWhite: "#F8F8F2"
    ansiBrightBlack: "#6272A4"
    ansiBrightRed: "#FF6E6E"
    ansiBrightGreen: "#69FF94"
    ansiBrightYellow: "#FFFFA5"
    ansiBrightBlue: "#D6ACFF"
    ansiBrightMagenta: "#FF92DF"
    ansiBrightCyan: "#A4FFFF"
    ansiBrightWhite: "#FFFFFF"
  fonts:
    main: "Fira Code"

format: yaml
#encryption: age
#{{- if $agekey }}
#age:
#  identity: /home/budiman/.config/sops/age/keys.txt
#  recipient: age1zeqkpfz7e3s207ynea0z0auc0mrct0pc7w4sh6j3d0c4qac3dahqj9ufdg
#{{- end }}
merge:
  command: nvim
  args:
    - -d
    - "{{ "{{ .Destination }}" }}"
    - "{{ "{{ .Source }}" }}"
    - "{{ "{{ .Target }}" }}"
#git:
#  autoAdd: true
