# Dracula theme for Alacritty
# https://draculatheme.com/alacritty
#
# Color palette
# https://spec.draculatheme.com
#
# Template
# https://github.com/alacritty/alacritty/blob/master/alacritty.yml

colors:
  primary:
    background: "{{ .colors.background }}"
    foreground: "{{ .colors.foreground }}"
    bright_foreground: "{{ .colors.ansiBrightWhite }}"
  cursor:
    text: CellBackground
    cursor: CellForeground
  vi_mode_cursor:
    text: CellBackground
    cursor: CellForeground
  search:
    matches:
      foreground: "{{ .colors.selection }}"
      background: "{{ .colors.green }}"
    focused_match:
      foreground: "{{ .colors.selection }}"
      background: "{{ .colors.orange }}"
  footer_bar:
    background: "{{ .colors.background }}"
    foreground: "{{ .colors.foreground }}"
  hints:
    start:
      foreground: "{{ .colors.background }}"
      background: "{{ .colors.yellow }}"
    end:
      foreground: "{{ .colors.yellow }}"
      background: "{{ .colors.background }}"
  line_indicator:
    foreground: None
    background: None
  selection:
    text: CellForeground
    background: "{{ .colors.selection }}"
  normal:
    black: "{{ .colors.ansiBlack }}"
    red: "{{ .colors.red }}"
    green: "{{ .colors.green }}"
    yellow: "{{ .colors.yellow }}"
    blue: "{{ .colors.purple }}"
    magenta: "{{ .colors.pink }}"
    cyan: "{{ .colors.cyan }}"
    white: "{{ .colors.foreground }}"
  bright:
    black: "{{ .colors.ansiBrightBlack }}"
    red: "{{ .colors.ansiBrightRed }}"
    green: "{{ .colors.ansiBrightGreen }}"
    yellow: "{{ .colors.ansiBrightYellow }}"
    blue: "{{ .colors.ansiBrightBlue }}"
    magenta: "{{ .colors.ansiBrightMagenta }}"
    cyan: "{{ .colors.ansiBrightCyan }}"
    white: "{{ .colors.ansiBrightWhite }}"
