colors:
  primary:
    background: "{{ .colors.nord0 }}"
    foreground: "{{ .colors.nord4 }}"
#    dim_foreground: {{ .colors.nord4 }}
  cursor:
    text: "{{ .colors.nord0 }}"
    cursor: "{{ .colors.nord4 }}"
  vi_mode_cursor:
    text: "{{ .colors.nord0 }}"
    cursor: "{{ .colors.nord4 }}"
  selection:
    text: CellForeground
    background: "{{ .colors.nord3 }}"
  search:
    matches:
      foreground: CellBackground
      background: "{{ .colors.nord8 }}"
    footer_bar:
      background: "{{ .colors.nord2 }}"
      foreground: "{{ .colors.nord4 }}"
  normal:
    black: "{{ .colors.nord1 }}"
    red: "{{ .colors.nord11 }}"
    green: "{{ .colors.nord14 }}"
    yellow: "{{ .colors.nord13 }}"
    blue: "{{ .colors.nord9 }}"
    magenta: "{{ .colors.nord15 }}"
    cyan: "{{ .colors.nord8 }}"
    white: "{{ .colors.nord5 }}"
  bright:
    black: "{{ .colors.nord3 }}"
    red: "{{ .colors.nord11 }}"
    green: "{{ .colors.nord14 }}"
    yellow: "{{ .colors.nord13 }}"
    blue: "{{ .colors.nord9 }}"
    magenta: "{{ .colors.nord15 }}"
    cyan: "{{ .colors.nord7 }}"
    white: "{{ .colors.nord6 }}"
#  dim:
#    black: '#373e4d'
#    red: '#94545d'
#    green: '#809575'
#    yellow: '#b29e75'
#    blue: '#68809a'
#    magenta: '#8c738c'
#    cyan: '#6d96a5'
#    white: '#aeb3bb'
