{{ if (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Setting Up Services <<<<<\033[0m"


{{   if .lightdm -}}
  echo "enabling lightdm"

{{-   if ne .chezmoi.username "root" }}
  sudo systemctl enable --force lightdm.service
{{-   else }}
  systemctl enable --force lightdm.service
{{-   end }}

{{   end -}}


echo "enabling pipewire"
{{-   if ne .chezmoi.username "root" }}
sudo systemctl enable --user --now pipewire.socket
sudo systemctl enable --user --now pipewire-pulse.socket
{{-   else }}
systemctl enable --force --user --now pipewire.socket
systemctl enable --force --user --now pipewire-pulse.socket
{{-   end }}


echo -e "\033[0;32m>>>>> Finish Setting Up Services <<<<<\033[0m"
{{ end -}}
